<launch>
    <include file="$(find kobuki_node)/launch/minimal.launch"/>
    <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" output="screen"/>
    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
    <node name="joystick" pkg="joystick" type="joystick" output="screen"/>

    <!--static tf transform from base to laser-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.13 0.0 0.18 0 0.0 0.0 base_footprint laser 100"/>

    <!--static tf transform from base to imu -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_imu" args="0.0 0.0 0.0 0.0 0.0 0.0 base_footprint gyro_link 100"/>
</launch>